body, select, button {
    font-family: arial, sans-serif;
    font-size: 20px;
    line-height: 2em;
}
label {
    font-size: 25px;
}
input {
    font-size: 20px;
    width: 150px;
}
select, textarea, #organismname {
    margin: 0px 0px 30px 0px;
    border: gray 2px solid;
}
/*select,  {
    border: gray 2px solid;
}*/
textarea {
    font-size: 20px;
    resize : none;
    /*border: 2px solid;*/
}
button {
    background: rgb(113, 72, 60);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 6px 20px;
}
.back_to_home {
    text-decoration: none;
    /*position: absolute;
    right: 5px;
*/    padding: 15px 25px;
    background: rgb(255, 103, 89);
    color: white;
    margin: 10px 10px 0px 6px;
    border-radius: 10px;
}