<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/public/css/record/record.css">
        <script src="/resource/jquery/jquery-3.2.1.min.js"></script>
        <script src="/resource/galleria/galleria-1.5.7.min.js"></script>
        <script src="/public/javascript/record/init.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="top">
                <div class="bar">
                </div>
            </div>
            <!--top end-->
            <div class="main">
                <div id="record-data" class="record-data">

                </div>
            </div>
            <!--main end-->
        </div>
        <!--container end-->
        <script src="/public/javascript/record/form.js"></script>
    </body>
</html>